@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 1.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 100%;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-size: var(--fs-400);
    font-family: "Overpass", sans-serif;
    background-color: var(--Very-Dark-Blue);
}

h1,
h2 {
    font-size: 2.4rem;
    color: var(--White);
    font-weight: 700;
}

ul li {
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 32.7rem;
    margin: auto;
    border-radius: 15px;
    background: var(
        --black-gradient,
        radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
    );
    border-radius: 1.5rem;
}

.logo {
    margin: 2.4rem 0 2.4rem 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.rating-section {
    margin: 0 2.4rem;
}

.rating-section p {
    margin-top: 1rem;
    max-width: 27.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--Light-Grey);
}

.rating {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.btn {
    width: 4.2rem;
    background-color: var(--Dark-Blue);
    height: 4.2rem;
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    margin-top: 2.4rem;
    cursor: pointer;
}

.btn.active {
    background-color: var(--Medium-Grey);
}

.btn:hover {
    background-color: var(--Orange);
    color: var(--White);
    transition: all 0.4s;
}

.btn-submit,
.btn-again {
    width: 27.9rem;
    height: 4.5rem;
    background-color: var(--Orange);
    border-radius: 2.25rem;
    color: var(--White);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.1867rem;
    border: none;
    text-transform: uppercase;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    cursor: pointer;
}

.btn-submit:hover,
.btn-again:hover {
    background-color: var(--White);
    color: var(--Orange);
    transition: all 0.4s;
}

.thank-you-section {
    text-align: center;
    padding: 0 2.4rem;
}

.thanks {
    width: 14.4rem;
    height: 9.6rem;
    margin-top: 3.4rem;
    margin-inline: auto;
}
.thank-you-content {
    color: var(--Light-Grey);
    font-size: 1.4rem;
    font-weight: 400px;
    line-height: 22px;
    width: 27.9rem;
    margin: 1rem 0 0 0;
}

.hidden {
    display: none;
}

.selected {
    width: 16.8rem;
    height: 3.2rem;
    border-radius: 22.5px;
    background-color: var(--Dark-Blue);
    color: var(--Orange);
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.9rem auto;
    padding: 5px 12px;
}

@media screen and (min-width: 600px) {
    h1,
    h2 {
        font-size: 2.8rem;
    }
    main {
        max-width: 41.2rem;
        border-radius: 3rem;
    }

    .logo {
        width: 4.8rem;
        height: 4.8rem;
    }

    .rating-section p {
        margin-top: 1.5rem;
        max-width: 34rem;
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .rating {
        gap: 2.1rem;
    }

    .btn {
        width: 5.1rem;
        height: 5.1rem;
        font-size: 1.6rem;
    }

    .btn-submit {
        width: 34.1rem;
        height: 4.5rem;
        margin-top: 3.2rem;
        font-size: 1.5rem;
    }

    .thank-you-section {
        width: 41.2rem;
    }

    .thanks {
        width: 16.2rem;
        height: 10.8rem;
        margin-top: 4.5rem;
    }

    .selected {
        width: 19.3rem;
        font-size: 1.5rem;
        margin: 3.6rem auto;
    }

    .thank-you-content {
        font-size: 1.5rem;
        line-height: 2.4rem;
        width: 34rem;
        margin: 0.7rem 0 0 0;
    }
}
